<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        	<encoder>
            		<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZ} [%thread] %-5level %logger{5} - %msg%n</pattern>
        	</encoder>
        </appender>

       <appender name="APP_LOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZ} %-5level %-12X{process} %-30([%thread]) %-29logger - %m%n</Pattern>
        </encoder>
    </appender>


        <logger name="com.simply.tp.microservice.helloservice" level="debug" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="APP_LOGGER" />
	</logger>


	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
